In [2]:
!pip install matplotlib seaborn

Requirement already satisfied: matplotlib in c:\users\sai charan\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\sai charan\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sai charan\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\sai charan\anaconda3\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\sai charan\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sai charan\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sai charan\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [3]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns

# Loading data

In [4]:
data = pd.read_csv("ncr_ride_bookings.csv")

In [5]:
data.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

### We succeffully loaded data into variable "Data"

# Data Understanding

In [6]:
data.shape

(150000, 21)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [8]:
data.isnull().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

* There are 21 columns and 1,50,00 rows in our data
* there are null values

# Data Cleaning

### AIM:-
* cleaning data.
* filling null values
* making columns with matching data types.
* Renaming column names

* Booking status have zero nulls. so, lets fill other columns byits values
* Main coluumns to fill.
    * Cancelled Rides by Customer          
    * Reason for cancelling by Customer    
    * Cancelled Rides by Driver            
    * Driver Cancellation Reason           
    * Incomplete Rides                     
    * Incomplete Rides Reason

In [9]:
data["Booking Status"].value_counts()

Booking Status
Completed                93000
Cancelled by Driver      27000
No Driver Found          10500
Cancelled by Customer    10500
Incomplete                9000
Name: count, dtype: int64

## First let's fill Incomplete Rides by Booking Status
* let's fill completed with **0**if theyare null.

In [10]:
data["Incomplete Rides"].value_counts()

Incomplete Rides
1.0    9000
Name: count, dtype: int64

In [11]:
data["Incomplete Rides"] = data["Incomplete Rides"].fillna(
    data["Booking Status"].apply(lambda x: 0 if x == "Completed" else 1))

In [12]:
data["Incomplete Rides"].isnull().sum()

np.int64(0)

In [13]:
data["Incomplete Rides"].value_counts()

Incomplete Rides
0.0    93000
1.0    57000
Name: count, dtype: int64

* as all nulls filled we can moveto next column

# let's fill Cancelled Rides by Customer  column

In [14]:
data["Cancelled Rides by Customer"].isnull().sum()

np.int64(139500)

In [15]:
data["Cancelled Rides by Customer"].value_counts()

Cancelled Rides by Customer
1.0    10500
Name: count, dtype: int64

In [16]:
data["Cancelled Rides by Customer"] = data["Cancelled Rides by Customer"].fillna(
    data["Booking Status"].apply(lambda x: 1 if x == "Cancelled by Customer" else 0 )
)

In [17]:
data["Cancelled Rides by Customer"].value_counts()

Cancelled Rides by Customer
0.0    139500
1.0     10500
Name: count, dtype: int64

* here i filled all nulls with **1** ifcanceledby customer, 0 all othes as theyare not canceled by customers

# Let'sfill Reason for cancelling by Customer.

In [18]:
data["Reason for cancelling by Customer"].value_counts()

Reason for cancelling by Customer
Wrong Address                                   2362
Change of plans                                 2353
Driver is not moving towards pickup location    2335
Driver asked to cancel                          2295
AC is not working                               1155
Name: count, dtype: int64

In [19]:
data["Reason for cancelling by Customer"].isnull().sum()

np.int64(139500)

In [20]:
data["Reason for cancelling by Customer"] = data["Reason for cancelling by Customer"].fillna(
    data["Booking Status"].apply(lambda x: "Not canceled by Customer" if x != "Cancelled by Customer" else "Cancelled by Customer")
)

In [21]:
data["Reason for cancelling by Customer"].value_counts()

Reason for cancelling by Customer
Not canceled by Customer                        139500
Wrong Address                                     2362
Change of plans                                   2353
Driver is not moving towards pickup location      2335
Driver asked to cancel                            2295
AC is not working                                 1155
Name: count, dtype: int64

* Here i will all rides which aren'tcanceled by customer to **Not canceled by Customer** as theyare not.

# Let'sfill Cancelled Rides by Driver and Driver Cancellation Reason

In [22]:
data["Cancelled Rides by Driver"].value_counts()

Cancelled Rides by Driver
1.0    27000
Name: count, dtype: int64

In [23]:
data["Cancelled Rides by Driver"] = data["Cancelled Rides by Driver"].fillna(
    data["Booking Status"].apply( lambda x: 1 if x == "Cancelled by Driver" else 0)
)

In [24]:
data["Cancelled Rides by Driver"].value_counts()

Cancelled Rides by Driver
0.0    123000
1.0     27000
Name: count, dtype: int64

* Here I filled with **0** if reason is not "Cancelled by Driver".

In [25]:
data["Driver Cancellation Reason"].isnull().sum()

np.int64(123000)

In [26]:
data["Driver Cancellation Reason"].value_counts()

Driver Cancellation Reason
Customer related issue                 6837
The customer was coughing/sick         6751
Personal & Car related issues          6726
More than permitted people in there    6686
Name: count, dtype: int64

In [27]:
data["Driver Cancellation Reason"] = data["Driver Cancellation Reason"].fillna(
    data["Booking Status"].apply( lambda x: "Cancelled by Driver" if x == "Cancelled by Driver" else "Not Cancelled by Driver")
)

In [28]:
data["Driver Cancellation Reason"].value_counts()

Driver Cancellation Reason
Not Cancelled by Driver                123000
Customer related issue                   6837
The customer was coughing/sick           6751
Personal & Car related issues            6726
More than permitted people in there      6686
Name: count, dtype: int64

In [29]:
data["Driver Cancellation Reason"].isnull().sum()

np.int64(0)

* Here I filled nulls with Not Cancelled by Driver,if in Booking status reason otherthan "Cancelled by Driver".

# let's fill Avg CTAT and Avg VTAT'

In [30]:
data["Avg CTAT"].isnull().sum()

np.int64(48000)

In [31]:
data["Avg CTAT"].value_counts()

Avg CTAT
24.8    401
25.9    389
28.1    388
20.5    386
25.3    383
       ...
11.6     34
11.1     34
14.5     32
13.8     27
10.0     23
Name: count, Length: 351, dtype: int64

In [32]:
data["Booking Status"].value_counts()

Booking Status
Completed                93000
Cancelled by Driver      27000
No Driver Found          10500
Cancelled by Customer    10500
Incomplete                9000
Name: count, dtype: int64

In [33]:
data["Avg CTAT"] = data["Avg CTAT"].fillna(
    data["Booking Status"].map( lambda x: 0 if x != "Completed" else None)
)

In [34]:
data["Avg CTAT"].isnull().sum()

np.int64(0)

In [35]:
data["Avg VTAT"].value_counts()

Avg VTAT
9.4     1259
6.0     1249
5.8     1248
9.5     1246
6.5     1239
        ...
19.1      59
19.5      57
18.5      56
18.9      55
20.0      38
Name: count, Length: 181, dtype: int64

In [36]:
data["Avg VTAT"].isnull().sum()

np.int64(10500)

In [37]:
data["Avg VTAT"] = data["Avg VTAT"].fillna(
    data["Booking Status"].map(lambda x: 0 if x!= "Completed" else None)
)

In [38]:
data["Avg VTAT"].isnull().sum()

np.int64(0)

* Here I filled Avg VTAT and Avg CTAT with 0 if rides are not completed.

# Let's fill Incomplete Rides Reason.

In [39]:
data["Incomplete Rides Reason"].value_counts()

Incomplete Rides Reason
Customer Demand      3040
Vehicle Breakdown    3012
Other Issue          2948
Name: count, dtype: int64

In [40]:
data["Incomplete Rides Reason"].isnull().sum()

np.int64(141000)

In [41]:
data["Incomplete Rides Reason"] = data["Incomplete Rides Reason"].fillna(
    data["Booking Status"].map(lambda x: "Not Incomplete" if x == "Completed" else x)
)

In [42]:
data["Booking Status"].value_counts()

Booking Status
Completed                93000
Cancelled by Driver      27000
No Driver Found          10500
Cancelled by Customer    10500
Incomplete                9000
Name: count, dtype: int64

In [43]:
data["Incomplete Rides Reason"].isnull().sum()

np.int64(0)

* I filled all reason came as Booking status if completed then Not Incomplete

In [44]:
data.isnull().sum()

Date                                     0
Time                                     0
Booking ID                               0
Booking Status                           0
Customer ID                              0
Vehicle Type                             0
Pickup Location                          0
Drop Location                            0
Avg VTAT                                 0
Avg CTAT                                 0
Cancelled Rides by Customer              0
Reason for cancelling by Customer        0
Cancelled Rides by Driver                0
Driver Cancellation Reason               0
Incomplete Rides                         0
Incomplete Rides Reason                  0
Booking Value                        48000
Ride Distance                        48000
Driver Ratings                       57000
Customer Rating                      57000
Payment Method                       48000
dtype: int64

# Let's fill Booking Value, Ride Distance and Payment Method

In [45]:
data["Booking Value"].isnull().sum()

np.int64(48000)

In [46]:
data["Booking Value"] = data["Booking Value"].fillna(
    data["Booking Status"].map(lambda x: 0 if x!= "Completed" else None)
)

In [47]:
data["Booking Value"].isnull().sum()

np.int64(0)

In [48]:
data["Ride Distance"].isnull().sum()

np.int64(48000)

In [49]:
data["Ride Distance"] = data["Ride Distance"].fillna(
    data["Ride Distance"].map(lambda x: 0 if x != "Completed" else None )
)

In [50]:
data["Ride Distance"].isnull().sum()

np.int64(0)

In [51]:
data["Payment Method"].isnull().sum()

np.int64(48000)

In [52]:
data["Payment Method"] = data["Payment Method"].fillna(
    data["Booking Status"].map(lambda x: "No Payment" if x!= "Completed" else None)
)

In [53]:
data["Payment Method"].isnull().sum()

np.int64(0)

* Here i filled Booking Value, Ride Distance and Payment Method with 0 if booking status is not completed.
* because if not completed distance never happed.
* value never payed
* no value means no payment method

# Let's fill Driver Ratings and Customer Rating

In [54]:
data["Driver Ratings"].isnull().sum()

np.int64(57000)

In [55]:
data["Driver Ratings"] = data["Driver Ratings"].fillna(
    data["Booking Status"].map(lambda x: 0 if x != "Completed" else None )
)

In [56]:
data["Driver Ratings"].isnull().sum()

np.int64(0)

In [57]:
data["Customer Rating"].isnull().sum()

np.int64(57000)

In [58]:
data["Customer Rating"] = data["Customer Rating"].fillna(
    data["Booking Status"].map(lambda x: 0 if x != "Completed" else None)
)

In [59]:
data["Customer Rating"].isnull().sum()

np.int64(0)

# Data Transformation
## Aim
* To change data types to correct data types

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  float64
 11  Reason for cancelling by Customer  150000 non-null  object
 12  Cancelled Rides by Driver          150000 non-null  float64
 13  Driver Cancellation Reason         150000 non-null  object
 14  Incomplete Rides                   150000 non-null  float64
 15  Incomplete Rides Reason            150000 non-null  object
 16  Booking Value                      150000 non-null  float64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Method                     150000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

### Let's change Object data types to categorical

In [61]:
cat = [
    "Booking ID",
    "Booking Status",
    "Customer ID",
    'Vehicle Type', 'Pickup Location', 'Drop Location',
    "Reason for cancelling by Customer","Incomplete Rides Reason","Payment Method"]

for i in cat:
    data[i] = data[i].astype("category")

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  category
 3   Booking Status                     150000 non-null  category
 4   Customer ID                        150000 non-null  category
 5   Vehicle Type                       150000 non-null  category
 6   Pickup Location                    150000 non-null  category
 7   Drop Location                      150000 non-null  category
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  float64
 11  Reason for cancelling by Customer  150000 non-null  category
 12  Cancelled Rides by Driver          150000 non-null  float64
 13  Driver Cancellation Reason         150000 non-null  object
 14  Incomplete Rides                   150000 non-null  float64
 15  Incomplete Rides Reason            150000 non-null  category
 16  Booking Value                      150000 non-null  float64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Method                     150000 non-null  category
dtypes: category(9), float64(9), object(3)
memory usage: 26.5+ MB

## Let's change data and time to date and time format.

In [63]:
data["Date"] = pd.to_datetime(data["Date"], errors="coerce")
data["Time"] = pd.to_datetime(data["Time"], errors="coerce")

C:\Users\Sai charan\AppData\Local\Temp\ipykernel_15380\1204079337.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data["Time"] = pd.to_datetime(data["Time"], errors="coerce")

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  datetime64[ns]
 1   Time                               150000 non-null  datetime64[ns]
 2   Booking ID                         150000 non-null  category
 3   Booking Status                     150000 non-null  category
 4   Customer ID                        150000 non-null  category
 5   Vehicle Type                       150000 non-null  category
 6   Pickup Location                    150000 non-null  category
 7   Drop Location                      150000 non-null  category
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  float64
 11  Reason for cancelling by Customer  150000 non-null  category
 12  Cancelled Rides by Driver          150000 non-null  float64
 13  Driver Cancellation Reason         150000 non-null  object
 14  Incomplete Rides                   150000 non-null  float64
 15  Incomplete Rides Reason            150000 non-null  category
 16  Booking Value                      150000 non-null  float64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Method                     150000 non-null  category
dtypes: category(9), datetime64[ns](2), float64(9), object(1)
memory usage: 26.5+ MB

# Let's change Cancelled Rides by Driver, Incomplete Rides and Cancelled Rides by Customer to int from float

In [65]:
f = ["Cancelled Rides by Driver", "Incomplete Rides", "Cancelled Rides by Customer"]
for i in f:
    data[i]  = data[i].astype("int")

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  datetime64[ns]
 1   Time                               150000 non-null  datetime64[ns]
 2   Booking ID                         150000 non-null  category
 3   Booking Status                     150000 non-null  category
 4   Customer ID                        150000 non-null  category
 5   Vehicle Type                       150000 non-null  category
 6   Pickup Location                    150000 non-null  category
 7   Drop Location                      150000 non-null  category
 8   Avg VTAT                           150000 non-null  float64
 9   Avg CTAT                           150000 non-null  float64
 10  Cancelled Rides by Customer        150000 non-null  int64
 11  Reason for cancelling by Customer  150000 non-null  category
 12  Cancelled Rides by Driver          150000 non-null  int64
 13  Driver Cancellation Reason         150000 non-null  object
 14  Incomplete Rides                   150000 non-null  int64
 15  Incomplete Rides Reason            150000 non-null  category
 16  Booking Value                      150000 non-null  float64
 17  Ride Distance                      150000 non-null  float64
 18  Driver Ratings                     150000 non-null  float64
 19  Customer Rating                    150000 non-null  float64
 20  Payment Method                     150000 non-null  category
dtypes: category(9), datetime64[ns](2), float64(6), int64(3), object(1)
memory usage: 26.5+ MB

# Let's see are their any duplicates

In [67]:
data["Booking ID"].duplicated().sum()

np.int64(1233)

# LEt's drop dupilicates by keeping first occurance

In [68]:
data = data.drop_duplicates(subset="Booking ID", keep="first")

# I want to addfew columns
* I want to add months and month names
* I want to add time segments.
* I want week and week days

In [69]:
data["Month"] = data["Date"].dt.month

In [70]:
data["Month Name"] = data["Date"].dt.month_name()

In [71]:
data["Hour"] = data["Time"].dt.hour

In [72]:
def time_segment(hour):
    if hour>= 6 and hour <12:
        return 1
    elif hour >= 12 and hour <17:
        return 2
    elif hour >=17 and hour <21:
        return 3
    else:
        return 4

data["Time Segment"] = data["Hour"].apply(time_segment)

In [73]:
def time_segment_n(seg):
    if seg == 1:
        return "Morning"
    elif seg == 2:
        return "Noon"
    elif seg == 3:
        return "Evening"
    else:
        return "Night"

data["Segment"] = data["Time Segment"].apply(time_segment_n)

In [74]:
data["Ride Status"] = data["Incomplete Rides"].apply(lambda x: "Incomplete" if x == 1 else "Completed")

In [75]:
data["Completed"] =  data["Incomplete Rides"].apply(lambda x: 0 if x == 1 else 1)

In [76]:
data["Weekday_Num"] = data["Date"].dt.weekday

In [77]:
data["Weekday"] = data["Date"].dt.day_name()

In [92]:
data["Cancelation by"] = data["Booking Status"].map(lambda x: "Customer Canceled" if x == "Cancelled by Customer" else None)

In [93]:
data["Cancelation by"].isnull().sum()

np.int64(138365)

In [94]:
data["Cancelation by"] =  data["Cancelation by"].fillna( 
    data["Booking Status"].map(lambda x: "Driver Canceled" if x == "Cancelled by Driver" else None) )

In [95]:
data["Cancelation by"].isnull().sum()

np.int64(111576)

In [96]:
data["Cancelation by"] =  data["Cancelation by"].fillna("Not Canceled by both")

In [97]:
data["Booking Status"].value_counts()

Booking Status
Completed                92248
Cancelled by Driver      26789
Cancelled by Customer    10402
No Driver Found          10401
Incomplete                8927
Name: count, dtype: int64

In [98]:
data.columns

Index(['Date', 'Time', 'Booking ID', 'Booking Status', 'Customer ID',
       'Vehicle Type', 'Pickup Location', 'Drop Location', 'Avg VTAT',
       'Avg CTAT', 'Cancelled Rides by Customer',
       'Reason for cancelling by Customer', 'Cancelled Rides by Driver',
       'Driver Cancellation Reason', 'Incomplete Rides',
       'Incomplete Rides Reason', 'Booking Value', 'Ride Distance',
       'Driver Ratings', 'Customer Rating', 'Payment Method', 'Month',
       'Month Name', 'Hour', 'Time Segment', 'Segment', 'Ride Status',
       'Completed', 'Weekday_Num', 'Weekday', 'Cancelation by'],
      dtype='object')

In [99]:
data.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Month,Month Name,Hour,Time Segment,Segment,Ride Status,Completed,Weekday_Num,Weekday,Cancelation by
0,2024-03-23,2025-09-22 12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,0.0,0.0,...,3,March,12,2,Noon,Incomplete,0,5,Saturday,Not Canceled by both
1,2024-11-29,2025-09-22 18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,11,November,18,3,Evening,Incomplete,0,4,Friday,Not Canceled by both
2,2024-08-23,2025-09-22 08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,8,August,8,1,Morning,Completed,1,4,Friday,Not Canceled by both
3,2024-10-21,2025-09-22 17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,10,October,17,3,Evening,Completed,1,0,Monday,Not Canceled by both
4,2024-09-16,2025-09-22 22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,9,September,22,4,Night,Completed,1,0,Monday,Not Canceled by both

# The data is nowclean and ready to get analyzed

In [100]:
# Export DataFrame to CSV
data.to_csv("uber_analysis.csv", index=False)